[Unit]
Description=sbcconsumer
After=network.target
After=syslog.target
Requires=redis.service

[Install]
WantedBy=multi-user.target

[Service]
User=caiex
Group=caiex


# Start main service
ExecStart=/opt/rclocal/sbcconsumer_upstart.sh


# Give up if ping don't get an answer
TimeoutSec=600

Restart=always
PrivateTmp=false
