[Unit]
Description=spider-robot main

[Install]
WantedBy=multi-user.target

[Service]
User=root
Group=caiex
#Type=forking

# Start main service
ExecStart=/opt/spider/spider-web.service.15.sh


# Give up if ping don't get an answer
TimeoutSec=600

Restart=always
PrivateTmp=false
