[Unit]
Description=spider-web main

[Install]
WantedBy=multi-user.target

[Service]
User=root
Group=caiex
#Type=forking
RemainAfterExit=yes


# Start main service
ExecStart=/opt/rclocal/spider-web.service.sh
ExecStop=/opt/spider/spider-web_stop.sh


# Give up if ping don't get an answer
TimeoutSec=600

Restart=always
PrivateTmp=false
