[Unit]
Description=central_server for hadoop python

[Install]
WantedBy=multi-user.target

[Service]
User=caiex
Group=caiex
#Type=forking

# Start main service
ExecStart=/opt/rclocal/central_server_upstart.sh


# Give up if ping don't get an answer
TimeoutSec=600

Restart=always
PrivateTmp=false
