[Unit]
Description=redis_6479
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
User=redisU
#User=root
Group=caiex
#Type=forking

# Start main service
ExecStart=/opt/rclocal/redis_6479_upstart.sh


# Give up if ping don't get an answer
TimeoutSec=600

Restart=always
#Restart=on-failure
PrivateTmp=false
